<section class="testimonial__area testimonial__overlay pt-175 pb-170" [ngStyle]="{background:'url(assets/img/testimonial/testimonial-bg.jpg)',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
    <div class="container p-relative">
        <div class="col-xxl-12">
            <div class="testimonial__slider swiper-container">
                <div class="testimonial__slider-inner ">
                    <swiper class="swiper-wrapper" [slidesPerView]="1" [loop]="true" [navigation]="{nextEl:'.swiper-button-next',prevEl:'.swiper-button-prev'}" [autoplay]="{
                    delay: 2500,
                    disableOnInteraction: false
                }">
                        <ng-template swiperSlide>
                            <div class="testimonial__item text-center">
                                <div class="testimonial__thumb">
                                    <img src="assets/img/testimonial/testi-1.PNG" alt="">
                                </div>
                                <div class="testimonial__content">
                                    <p>“ Epedagogue provided me a good learning opportunity and platform to showcase my analytical and technical skills. ”</p>

                                    <div class="testimonial__info">
                                        <h4>Jason Response</h4>
                                        <span>UX Designer</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="testimonial__item text-center">
                                <div class="testimonial__thumb">
                                    <img src="assets/img/testimonial/testi-2.PNG" alt="">
                                </div>
                                <div class="testimonial__content">
                                    <p>“ First of all I would like to thank all the E-pedgogue faculty. From the E-pedgogue i learn lots of things and it also help me to enhance my skills and due to this skill I'm able to crack many interviews. If anyone
                                        confused about his/her career then they can join E-pedgogue. ”</p>

                                    <div class="testimonial__info">
                                        <h4>Jason Response</h4>
                                        <span>UX Designer</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="testimonial__item text-center">
                                <div class="testimonial__thumb">
                                    <img src="assets/img/testimonial/testi-3.PNG" alt="">
                                </div>
                                <div class="testimonial__content">
                                    <p>“I'm extremely satisfied with their content and their helping nature, I came for QA training and I enjoyed and learn alot. I must say this is the best place for training for placements, don't think too much just go
                                        for it.Thanks. ”</p>

                                    <div class="testimonial__info">
                                        <h4>Jason Response</h4>
                                        <span>UX Designer</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="testimonial__item text-center">
                                <div class="testimonial__thumb">
                                    <img src="assets/img/testimonial/testi-4.PNG" alt="">
                                </div>
                                <div class="testimonial__content">
                                    <p>“ First of all I would like to thank all the E-pedgogue faculty. From the E-pedgogue i learn lots of things and it also help me to enhance my skills and due to this skill I'm able to crack many interviews. If anyone
                                        confused about his/her career then they can join E-pedgogue. ”</p>

                                    <div class="testimonial__info">
                                        <h4>Jason Response</h4>
                                        <span>UX Designer</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="testimonial__item text-center">
                                <div class="testimonial__thumb">
                                    <img src="assets/img/testimonial/testi-5.PNG" alt="">
                                </div>
                                <div class="testimonial__content">
                                    <p>“ I would like to say THANKS to Epedagogue . Here I learnt a lot. This company built confidence in myself. Best place to enhance your skills. ”</p>

                                    <div class="testimonial__info">
                                        <h4>Jason Response</h4>
                                        <span>UX Designer</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </swiper>

                </div>
                <div class="swiper-button-next swiper-nav"><i class="far fa-arrow-right"></i></div>
                <div class="swiper-button-prev swiper-nav"><i class="far fa-arrow-left"></i></div>
            </div>
        </div>
    </div>
</section>