<section class="contact__area pt-10 pb-10">
    <div class="container">
        <div class="contact__wrapper">
            <div class="section__title-wrapper mb-40">
                <h2 class="section__title">Register A Free <span class="yellow-bg yellow-bg-big">Demo <img src="assets/img/shape/yellow-bg.png" alt=""></span>Class Now.</h2>
                <h5>We will contact you to answer your Queries.</h5>
            </div>
            <div class="contact__form">
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-md-6">
                        <div class="contact__form-input">
                            <input type="text" placeholder="Your Name" name="name">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-md-6">
                        <div class="contact__form-input">
                            <input type="email" placeholder="Your Email" name="email">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-md-6">
                        <div class="contact__form-input">
                            <input type="text" placeholder="Mobile Number" name="mobiles">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-md-6">
                        <div class="contact__form-input">
                            <input type="text" placeholder="Education/Qualification" name="edu">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-md-6">
                        <div class="contact__form-input">
                            <input type="text" placeholder="Passing Year" name="edu">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-md-6">
                        <div class="contact__form-input">
                            <input type="text" placeholder="Course You Are Intrested In" name="edu">
                        </div>
                    </div>
                    <div class="col-xxl-12">
                        <div class="contact__btn">
                            <button class="e-btn" (click)="openSnackBar('Thankyou For Registration, We will reach out to you in a while 🙂!', 'Ok')">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>